
body.--bs-body-bg-color {
  background: #222;
}

.container {
  display: flex ;
  justify-content: center;
  margin-top: 1em;
 
 
}

:root {
  --width: 250px;
  --height: 180px;
  
}




.imagenes {
background: #9ca04c;
width: var(--width);;
height: var(--height);

box-shadow:5px 5px 10px #0008 inset,-2px -1px 10px #0005 inset,0 0 4px 3px #aaa4;

position:absolute;
justify-content: center;
align-items: flex-start;
left: 12.9%;
margin:29%;
margin-top: -39.8%;

background-size: cover;
background-position: center;
display: none;
}




@media only screen and (max-width: 998px) {
  .imagenes {
    background: #9ca04c;
    width: var(--width);;
    height: var(--height);
    
    box-shadow:5px 5px 10px #0008 inset,-2px -1px 10px #0005 inset,0 0 4px 3px #aaa4;
    
    position:absolute;
    justify-content: center;
    align-items: flex-start;
    left: 10%;
    margin:29%;
    margin-top: -53.6%;
    
    background-size: cover;
    background-position: center;
    display: none;
    }

    .container {
      display: flex ;
      justify-content: center;
      margin-top: 18em;
      
     
    } 
   
}